body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    /* border: 2px solid red; */
}
#left{
    height: 100vh;
    width: 40vw;
    /* border: 1px solid red; */
}
#right{
    height: 100vh;
    width: 60vw;
    background: url('../static/7915189_3794012.svg') no-repeat center;
    /* border: 2px solid red; */
} 
.leftcontent{
    margin-left: 8vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red;  */
}
#a{
  width: fit-content;
}
img{
    float: left;
    margin-top: 18px;
    width: 12vw;
    height: fit-content;
}
#slogancontainer{
    margin-top: 12vh;
    text-align: left;
    font-size: 3em;
    font-family: 'Nunito', sans-serif;
} 
#excel{
  color: #21a86d;
}
#exam{
  color: #0965e1;
}
#description{
  margin-top: 2vh;
  font-size: 1.1em;
  text-align: left;
}
#getstarted{
  float: left;
  margin-top: 5vh;
  width: 50%;
  height: 7%;
  background-color: #0965e1;
  border-radius: 5px;
  font-size: 1.2em;
  color: white;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
}
.navbar{
  height: 5.5%;
  margin-top: 20px;
  width: 50%;
  margin-left: 50%;
}
#signin, #join{
  font-family: 'Nunito', sans-serif;
  height: 100%;
  cursor: pointer;
  margin-right: 1vw;
  width: 25%;
  font-size: 1em;
  border-color: #0965e1;
  border-radius: 4px;
  color: #0965e1;
}
#join{
  background-color: #0965e1;
  color: white;  
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .home{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ededed;
  }
  #left{
    margin: 0;
    height: 94vh;
    width: 100vw;
    background: url('../static/7915189_3794012.svg') no-repeat center;
    background-size: 110%;
    background-position-y: 60%;
  }
  .leftcontent{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding-left: 4%;
    padding-top: 1%;
  }
  a{
    /* margin-top: 2%; */
    margin-top: 2%;
    width: 40%;
  }
  img{
    margin: 0;
    width: 100%;
  }
  #slogancontainer{
    margin: 0;
    margin-top: 12%;
    font-size: 2.5em;
  }
  #description{
    display: none;
  }
  #getstarted{
    width: 91%;
    margin-top: 110%;
    padding: 0;
  }
  #right{
    background: none;
    margin: 0;
    height: 10vh;
    width: 100vw;
  }
  .navbar{
    height: 6vh;
    width: 91vw;
    margin: 0;
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
  }
  #signin, #join{
    width: 45%;
    margin: 0;
  }
}

